set -e
if [ -f "../.envrc" ]; then
source_up
fi

source ./env.sh

DIR=`pwd`

PATH_add $DIR/.direnv/bin

init() {
if [ -f "package.json" ]; then
  if [ ! -d $DIR/$1/node_modules ]; then
    cd $DIR/$1
    bun i
    cd $DIR
  fi
fi
}

init .

